* {
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main {
  }

  h1 {
     text-align: center; 
  }

  ul {

  }
  ul li {
    margin: 20px;
}